.index {
    &__anchor {
        &-none{
        text-decoration: none;
        color: black;
            &:hover {
                text-decoration: none;
                color: black;
            }
        }
    }
}
